/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-canvas: #ffffff;
  --c-text-primary: #292D32;
  --c-kanji-primary-m: #E3B3C9;
  --c-kanji-primary-l: #F9F0F4;
  --c-grammar-primary-m: #84E6D2;
  --c-grammar-primary-l: #B5F4E7;
  --c-vocabulary-primary-m: #785EA7;
  --c-vocabulary-primary-l: #F8F4FF;
  --c-grey: #787C81;
  --side-nav-width: 15vw;
  --top-nav-height: 80px;
  --japanese-font: 'Noto Sans JP', sans-serif;
  --c-n5-m: #F49AC3;
  --c-n4-m: #5EE7DA;
  --c-n3-m: #F5C172;
  --c-n2-m: #9667AC;
  --c-n1-m: #9BE96B;
  --c-n5-l: #F9F0F4;
  --c-n4-l: #d8f9f5;
  --c-n3-l: #fff7e6;
  --c-n2-l: #f2ddf9;
  --c-n1-l: #e6ffcd;
  --input-border: #c7c7cb;
}